* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

ul {
  list-style-type: none;
}

.outside-container,
.container {
  width: 978px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 4px;
  padding-right: 9px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  color: #ffa800;
  background: #ffa800;
}

.button {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ffa800;
  border-radius: 30px;
}

/* Page header */

.page-header {
  position: relative;
  min-height: 202px;
  background-image: url(../images/header_bg1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.page-header::before {
  position: absolute;
  top: 199px;
  left: 0;
  content: "";
  display: block;
  width: 100%; 
  max-width: 1920px;
  height: 3px;
  background-color: rgba(130,130,130,0.2);
  z-index: 1;
}

.page-header::after {
  position: absolute;
  top: 202px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  max-width: 1920px;
  height: 8px;
  background-image: linear-gradient(rgba(195,195,195,1), rgba(247,247,247,0.1));
  z-index: 1;
}

.page-header--2 {
  background-image: url(../images/header_bg2.jpg);
}

.page-header--2::after {
  background-image: linear-gradient(#272624, #323232);
}

.page-header--3 {
  background-image: url(../images/header_bg3.jpg);
}

.page-header--open::before {
  top: 287px;
}

.page-header--open::after {
  top: 290px;
}

.page-header__logo,
.page-header__header {
  float: left;
  cursor: pointer;
}

.page-header__logo {
  width: 130px;
  height: 65px;
  margin-top: 51px;
  margin-left: 30px;
  margin-bottom: 18px;
  background-image: url(../images/logo/logo-white.png);
}

.page-header__header {
  padding-top: 62px;
  padding-left: 10px;
  color: #fff;
}

.page-header__header strong {
  font-size: 45px;
  font-weight: 800;
}

.page-header__header p {
  line-height: 13px;
  padding-left: 3px;
}

.page-header__cart,
.page-header__login {
  float: right;
  cursor: pointer;
}

.page-header__cart {
  position: relative;
  margin-top: 74px;
  margin-right: 17px;
}

.page-header__cart-logo {
  position: relative;
  display: block;
  width: 24px;
  height: 20px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-position: -32px -7px;
  z-index: 3;
}

.page-header__cart-logo:hover {
  background-position: -151px -8px;
}

.page-header__cart-logo::before {
  position: absolute;
  top: -19px;
  left: 19px;
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-color: #e23f3f;
  border-radius: 50%;
}

.page-header__cart-logo--open::before {
  top: 2px;
  left: 21px;
}

.page-header__cart-logo::after {
  position: absolute;
  top: -19px;
  left: 26px;
  content: "3";
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.page-header__cart-logo--open::after {
  top: 3px;
  left: 27px;
}

.page-header__cart-inner {
  position: absolute;
  top: 43px;
  left: -455px;
  width: 527px;
  height: 325px;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.page-header__cart-inner::before {
  position: absolute;
  top: -62px;
  right: 0;
  content: "";
  display: block;
  width: 121px;
  height: 62px;
  background-color: #fff;
}

.page-header__cart-inner::after {
  position: absolute;
  top: -22px;
  right: 33px;
  content: "Корзина";
  font-size: 13px;
}

.page-header__cart-inner--close {
  display: none;
}

.page-header__cart-inner table {
  width: 100%;
  margin-top: 28px;
  border-collapse: collapse;
}

.page-header__cart-inner tr {
  height: 63px;
  border-bottom: 1px solid #e5e5e5;
}

.page-header__cart-inner a {
  text-decoration: none;
  color: #177a93;
}

.page-header__cart-inner a:hover {
  color: #ffa800;
}

.cart-inner__goods-name {
  line-height: 17px;
  padding-left: 29px;
}

.cart-inner__goods-number {
  width: 74px;
}

.cart-inner__goods-price {
  width: 107px;
}

.cart-inner__close-button {
  width: 67px;
}

.close-button {
  width: 37px;
  height: 37px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-position: -336px -40px;
}

.cart-inner__goods-result {
  min-height: 107px;
  padding-left: 29px;
  padding-right: 30px;
  border-bottom: 3px solid #dcdcdc;
}

.cart-inner__goods-result p,
.cart-inner__goods-result .goods-price {
  float: left;
  line-height: 30px;
  padding-top: 37px;
}

.cart-inner__goods-result p {
  margin-right: 34px;
}

.cart-inner__goods-result a,
.cart-inner__goods-result a:hover {
  color: #000;
}

.order-button {
  float: right;
  width: 148px;
  height: 46px;
  margin-top: 29px;
  border: 4px solid #ffa800;
}

.order-button:hover {
  background-color: #ffa800;
}

.page-header__login {
  position: relative;
  margin-top: 74px;
  margin-right: 30px;
}

.page-header__login-logo {
  position: relative;
  display: block;
  width: 16px;
  height: 20px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-position: -7px -7px;
  z-index: 4;
}

.page-header__login-logo:hover {
  background-position: -120px -95px;
}

.page-header__login-inner {
  position: absolute;
  top: -19px;
  left: -66px;
  display: block;
  width: 148px;
  height: 267px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.page-header__login-inner--close {
  display: none;
}

.login__user-name {
  width: 54px;
  line-height: 15px;
  text-align: center;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 12px;
  color: #010101;
  opacity: 0.5;
}

.login__user-item {
  position: relative;
  display: block;
  width: 148px;
  font-size: 16px;
  font-weight: 400;
  line-height: 39px;
  text-decoration: none;
  padding-left: 19px;
  border-top: 1px solid #e5e5e5;
  color: #177a93;
}

.login__user-item:hover {
  color: #ffa800;
}

.login__user-item--exit {
  border-bottom: 3px solid #dcdcdc;
}

.login__user-item--exit::after {
  position: absolute;
  top: 13px;
  left: 122px;
  content: "";
  display: block;
  width: 12px;
  height: 14px;
  background-image: url("../images/shop-content_sprite.fw.png");
  background-position: -96px -103px;
}

.page-header__menu {
  clear: both;
  width: 978px;
  height: 68px; 
  background-color: #fff;
}

.page-header__menu-item {
  display: block;
  height: 65px;
  padding-left: 16px;
  padding-right: 17px;
  font-size: 14px;
  font-weight: 700;
  line-height: 67px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
}

.page-header__menu-item--main-page {
  padding-left: 28px;
}

.page-header__menu-item:hover,
.page-header__menu-item--active {
  background-color: #efece7;
  color: #ffa800;
}

.page-header__menu li {
  float: left;
}

/* Шапка при скролле */

.page-header--scroll {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background-image: url(../images/header-small_bg1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  border-top: none;
  z-index: 10;
}

.page-header--scroll--2 {
  background-image: url(../images/header-small_bg2.jpg);
}

.page-header--scroll::after {
  display: none;
}

.page-header--scroll {
  min-height: 0;
}

.page-header--scroll::before {
  top: 61px;
}

.page-header__logo--scroll {
  width: 67px;
  height: 33px;
  margin-top: 15px;
  margin-left: 30px;
  background-image: url(../images/logo/logo-white--small.png);
}

.page-header__header--scroll {
  padding-top: 16px;
  padding-left: 5px;
  color: #fff;
}

.page-header__header--scroll strong {
  font-size: 23px;
  font-weight: 800;
}

.page-header__header--scroll p {
  font-size: 7px;
  line-height: 2px;
  padding-left: 1px;
}

.page-header__cart--scroll,
.page-header__login--scroll {
  margin-top: 19px;
}

.page-header__cart--scroll .page-header__cart-logo::before {
  top: 2px;
  left: 21px;
}

.page-header__cart--scroll .page-header__cart-logo::after {
  top: 3px;
  left: 27px;
}

/* Page search */

.page-search {
  position: relative;
  clear: both;
  max-width: 1920px;
  height: 80px;
  margin: 0 auto;
  background-color: #ffa800;
}

.page-search--2 {
  background-color: #333;
}

.page-search input[type="search"],
.page-search select,
.page-search input[type="submit"] {
  display: block; 
  float: left;
  margin-top: 14px;
  outline: none; 
}

.page-search input[type="search"] {
  width: 517px;
  height: 52px;
  font-size: 18px;
  padding-left: 19px;
  padding-right: 10px;
  color: #333;
  border: none;
  border-right: 2px solid #efece7;
}

.page-search input[type="search"]::-webkit-input-placeholder,
.page-search input[type="search"]:-ms-input-placeholder,
.page-search input[type="search"]::-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  opacity: 0.5;
}

.page-search select {
  position: relative;
  width: 290px;
  height: 52px;
  font-size: 12px;
  font-weight: 800;
  line-height: 52px;
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: #fff; 
  color: #177a93;
}

.page-search select:hover { 
  color: #ffa800;
}

.select-button {
  float: left;
  position: relative;
  display: inline-block;
  width: 270px;
  overflow: hidden;
}

.select-button::after {
  position: absolute;
  top: 40px;
  left: 250px;
  content: "";
  display: block;
  width: 11px;
  height: 6px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-repeat: no-repeat;
  background-position: -128px -41px;
  pointer-events: none;
}

.page-search input[type="submit"] {
  float: right;
  width: 171px;
  height: 52px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 48px;
  padding-right: 26px;
  border: 4px solid #00883c;
  background-color: #00883c;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}

.page-search input[type="submit"]:hover {
  border: 4px solid #016c2e;
  background-color: #016c2e;
}


.search-button {
  position: relative;
}

.search-button::after {
  position: absolute;
  top: 25px;
  left: 143px;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-repeat: no-repeat;
  background-position: -97px -8px;
  cursor: pointer;
}

/* Page content */

.page-content__left-column,
.page-content__right-column {
  float: left;
}

.page-content__left-column {
  width: 248px;
}

.page-content__right-column {
  width: 730px;
}

.page-content__catalog {
  margin-top: 43px;
}

.page-content__catalog h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 17px;
}

.catalog-item {
  position: relative;
  line-height: 30px;
  color: #177a93;
  cursor: pointer;
}

.catalog-item a {
  text-decoration: none;
  border-bottom: 1px dotted #8bbcc9;
  color: #177a93;
}

.catalog-item a:hover {
  color: #ffa800;
  border-bottom: 1px dotted #ffa800;
}

.catalog-item::before {
  position: absolute;
  top: 12px;
  left: -19px;
  content: "";
  display: block;
  width: 11px;
  height: 8px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-repeat: no-repeat;
  background-position: -129px -24px;
  cursor: pointer;
}

.catalog-item--active a {
  border-bottom: 1px dotted #ffa800;
  color: #ffa800;
}

.catalog-item--active::before {
  transform: rotate(180deg);
}

.catalog-item--open::before {
  display: none;
}

.goods-number {
  padding-left: 3px;
  color: #999;
}

.subcatalog {
  padding-left: 15px;
}

.page-content__advanced-search {
  position: relative;
  float: right;
  font-size: 16px;
  margin-top: 14px;
  border-bottom: 1px dotted #8bbcc9;
}

.page-content__advanced-search:hover {
  border-bottom: 1px dotted #ffa800;
}

.page-content__advanced-search a {
  text-decoration: none;
  color: #177a93;
}

.page-content__advanced-search a:hover {
  color: #ffa800;
}

.page-content__advanced-search::before {
  position: absolute;
  top: 7px;
  left: -17px;
  content: "";
  display: block;
  width: 11px;
  height: 6px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-repeat: no-repeat;
  background-position: -128px -41px;
}

.page-content__breadcrumbs {
  position: relative;
  float: left;
  margin-left: 40px;
  padding-top: 15px;
  color: #666;
}

.page-content__breadcrumbs::before {
  position: absolute;
  top: 14px;
  left: -42px;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-repeat: no-repeat;
  background-position: -64px -7px;
}

.page-content__breadcrumbs a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-right: 12px;
  border-bottom: 1px solid #8bbcc9;
  color: #177a93;
}

.page-content__breadcrumbs a:hover {
  border-bottom: 1px solid #ffa800;
  color: #ffa800;
}

.page-content__breadcrumbs a::after {
  position: absolute;
  top: 0;
  right: -9px;
  content: "/";
  font-size: 15px;
  color: #666;
}

.page-content__article {
  clear: both;
}

.page-content__article h1 {
  font-size: 45px;
  font-weight: 300;
  margin-left: -3px;
  margin-bottom: 31px;
  padding-top: 28px;
}

.page-content__article h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 38px;
  margin-bottom: 12px;
}

.page-content__article a {
  text-decoration: none;
  color: #177a93;
}

.page-content__article a:hover {
  color: #ffa800;
}

.page-content__article p {
  max-width: 600px;
  margin-bottom: 15px;
}

.page-content__article p:last-child {
  margin-top: 10px;
  margin-bottom: 61px;
}

/* Page content - Delivery */

.delivery-table {
  width: 728px;
  text-align: left;
  vertical-align: middle;
  border-collapse: collapse;
  margin-bottom: 60px;
}

.delivery-table tr {
  height: 100px;
  border-bottom: 1px solid #e5e5e5;
}

.delivery-table tr:first-child {
  height: 68px;
}

.delivery-table th {
  padding-top: 21px;
  color: #999;
}

.delivery-table th:first-child {
  width: 119px;
}

.delivery-table th:nth-child(2) {
  width: 246px;
}

.delivery-table th:nth-child(3) {
  width: 87px;
}

.delivery-table th:nth-child(4) {
  width: 130px;
}

.delivery-table td {
  line-height: 15px;
}

.delivery-icon {
  display: block;
  width: 100px;
  height: 99px;
}

.delivery-icon--ems {
  background-image: url(../images/logo/ems.png);
}

.delivery-icon--business-line {
  background-image: url(../images/logo/business-line.png);
}

.delivery-table span {
  display: block;
}

/* Page content - Reviews */

.page-content__review,
.page-content__review-answer {
  clear: both;
  overflow: hidden;
  color: #666;
}

.page-content__review {
  margin-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #efece7;
}

.page-content__review:last-child {
  margin-bottom: 38px;
  /* border-bottom: none; */
}

.page-content__review p {
  max-width: 650px;
  margin-bottom: 20px;
  color: #000;
}

.page-content__review-header time {
  position: relative;
}

.page-content__review-header time::after {
  position: absolute;
  top: -6px;
  left: 108px;
  content: "";
  display: block;
  width: 26px;
  height: 20px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-repeat: no-repeat;
}

.page-content__review-header--positive time::after {
  background-position: -299px -69px;
}

.page-content__review-header--negative time::after {
  background-position: -299px -43px;
}

.page-content__review-header {
  margin-bottom: 10px;
}

.page-content__review-header strong {
  color: #010101;
}

.review-ratings__item {
  float: left;
  margin-right: 30px;
  margin-bottom: 29px;
}

.review-ratings__item ul {
  margin-top: 5px;
}

.rating-item {
  float: left;
  width: 17px;
  height: 16px;
  margin-right: 5px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-position: -120px -73px;
}

.rating-item--grey {
  background-position: -119px -51px;
}

.page-content__review-answer {
  position: relative;
  overflow: visible;
  width: 666px;
  margin-left: 63px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 25px;
  background-color: #efece7;
  border-radius: 10px;
}

.page-content__review-answer::before {
  position: absolute;
  top: 40px;
  left: -25px;
  content: "";
  display: block;
  width: 25px;
  height: 38px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-repeat: no-repeat;
  background-position: -267px -42px;
}

.page-content__review-answer time::after {
  display: none;
}

.page-content__review-answer p:last-child {
  margin-bottom: 0;
}

/* Page content - Contacts */

.page-content__map {
  margin-top: 46px;
  margin-bottom: 18px;
}

.page-content__map iframe {
  width: 728px;
  height: 342px;
}

.contacts-column {
  float: left;
  margin-bottom: 44px;
}

.contacts-column--left {
  margin-right: 120px;
}

a[href^=tel] {
  color: #000;
}

a[title="Website"],
a[title="E-mail"],
a[title="Skype"],
a[title="ICQ"] {
  border-bottom: 1px solid #8bbcc9;
}

a[title="Website"]:hover,
a[title="E-mail"]:hover,
a[title="Skype"]:hover,
a[title="ICQ"]:hover {
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
}

.contacts-column--center {
  margin-right: 142px;
}

.contacts-column--right {
  padding-top: 12px;
}

.contacts-column--right a {
  color: #000;
}

.ask-question {
  width: 158px;
  height: 36px;
}

.ask-question:hover {
  background-color: #ffa800;
}

/* Page content - Catalog */

.banner-gallery {
  position: relative;
  clear: both;
  width: 729px;
  height: 330px;
  margin-top: 50px;
  margin-bottom: 25px;
  box-shadow: 0 5px 10px #919191;
}

.banner-gallery::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 729px;
  height: 3px;
  background-color: rgba(185,183,178,0.7);
}

.banner-gallery__image--2,
.banner-gallery__image--3,
.banner-gallery__image--4 {
  display: none;
}

.banner-gallery__image--1 {
  display: block;
}

.banner-gallery__paginator {
  position: absolute;
  left: calc(50% - 37px);
  bottom: 20px;
}

.banner-gallery__paginator-item {
  float: left;
  width: 8px;
  height: 8px;
  margin-right: 14px;
  border: 1px solid #ffa800;
  border-radius: 50%;
  cursor: pointer;
}

.banner-gallery__paginator-item:last-child {
  margin-right: 0;
}

.banner-gallery__paginator-item--active {
  background-color: #ffa800;
}

.rub {
  display: inline-block;
  width: 0.6em;
  line-height: 11px;
  vertical-align: baseline;
  border-bottom: 3px solid;
}

.rub--small {
  line-height: 7px;
  border-bottom: 2px solid;
}

.rub--sale {
  display: inline-block;
  width: 0.6em;
  line-height: 5px;
  vertical-align: baseline;
  border-bottom: 1px solid;
}

.subcatalog-item a {
  border-bottom: 1px solid #8bbcc9;
  color: #177a93;
}

.subcatalog-item a:hover {
  border-bottom: 1px solid #ffa800;
}

.page-content__store {
  position: relative;
  margin-bottom: 30px;
  padding-top: 27px;
}

.see-all {
  position: absolute;
  top: -56px;
  right: 0;
  width: 165px;
  height: 40px;
}

.see-all:hover {
  background-color: #ffa800;
}

.store-button a {
  color: #ffa800;
}

.store-button a:hover {
  color: #000;
}

.page-content__goods {
  display: inline-block;
  vertical-align: top;
  width: 231px;
  text-align: center;
  margin-right: 15px;
  margin-bottom: 86px;
}

.page-content__goods:nth-child(3n+3) {
  margin-right: 0;
}

.goods-header {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 18px;
  margin-bottom: 13px;
  padding-top: 48px;
  color: #177a93;
}

.goods-header a {
  border-bottom: 1px solid #8bbcc9;
}

.goods-header a:hover {
  border-bottom: 1px solid #ffa800;
}

.goods-price {
  display: block;
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  color: #00883c;
}

.goods-price--small {
  font-size: 18px;
  font-weight: 800;
}

.goods-price--sale {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  text-decoration: line-through;
  line-height: 15px;
  padding-top: 3px;
  padding-left: 7px;
  color: #999;
}

.goods-price--sale::before,
.goods-price--sale::after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #999;
}

.goods-price--sale::before {
  width: 10px;
  top: 11px;
  left: -3px;
}

.goods-price--sale::after {
  width: 20px;
  top: 11px;
  right: -11px;
}

/* Page footer */

.page-footer {
  clear: both;
  max-width: 1920px;
  min-height: 245px;
  margin: 0 auto;
  background-color: #efece7;
}

.page-footer__columns {
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  padding-bottom: 45px;
  color: #605e5c;
}

.page-footer__columns a {
  text-decoration: none;
  color: #605e5c;
}

.page-footer__columns a:hover {
  color: #177a93;
}

.page-footer__column {
  float: left;
  margin-top: 40px;
}

.page-footer__column--left {
  padding-left: 48px;
}

.contact-icon::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 5px;
  background-image: url(../images/shop-content_sprite.fw.png);
  background-repeat: no-repeat;
}

.contact-icon--copyright::before {
  background-position: -97px -41px;
}

.contact-icon--email::before {
  background-position: -97px -61px;
}

.contact-icon--skype::before {
  background-position: -97px -83px;
}

.contact-icon--email a,
.contact-icon--skype a {
  color: #177a93;
  border-bottom: 1px solid #8bbcc9;
}

.contact-icon--email a:hover,
.contact-icon--skype a:hover {
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
}

.page-footer__column--center {
  padding-left: 101px;
}

.page-footer__column--right {
  padding-left: 92px;
}

.page-footer__column--sm {
  float: right;
  margin-top: 50px;
}

.social-icon {
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 35px;
  margin-right: 1px;
  border-radius: 5px;
  background-image: url("../images/shop-content_sprite.fw.png");
  background-repeat: no-repeat;
}

.social-icon a {
  display: block;
  width: inherit;
  height: inherit; 
  color: transparent;
}

.social-icon a:hover {
  color: transparent;
}

.social-icon--vk {
  background-position: -7px -41px;
}

.social-icon--vk:hover {
  background-position: -7px -83px;
}

.social-icon--tw {
  background-position: -52px -41px;
}

.social-icon--tw:hover {
  background-position: -52px -83px;
}

.social-icon--blog {
  background-position: -141px -41px;
}

.social-icon--blog:hover {
  background-position: -141px -83px;
}

.social-icon--hh {
  background-position: -182px -41px;
}

.social-icon--hh:hover {
  background-position: -182px -83px;
}

.social-icon--gp {
  background-position: -225px -41px;
}

.social-icon--gp:hover {
  background-position: -225px -83px;
}

.page-footer__payment-system {
  padding-left: 48px;
}

.payment-system__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 44px;
}

.payment-system__item:nth-child(1) {
  margin-left: 5px;
}

.payment-system__item:nth-child(2) {
  margin-right: 49px;
}

.payment-system__item:nth-child(3) {
  margin-right: 51px;
}

.payment-system__item:nth-child(4) {
  margin-right: 53px;
}

.payment-system__item:nth-child(6) {
  margin-right: 38px;
}

.payment-system__item:nth-child(7) {
  margin-right: 42px;
}

.payment-system__item:nth-child(8) {
  margin-right: 39px;
}

.payment-system__item:last-child {
  margin-right: 0;
}